<% content_for :head do %>
  <% if session[:user_id] %>
    <li><%= link_to 'My Profile', user_path(User.find(session[:user_id])) %></li>
  <% end %>
<%end%>

<h1>Product details</h1>
<div class="row">
    <div class="col-md-6">
      <%=image_tag(@product.image)%>
    </div>
    <div class="col-md-6">
      <strong><%=@product.title%></strong><br>
      <%=@product.price%><br>
      <%=@product.description%><br>
      <%= button_to 'Add to Cart', line_items_path(product_id: @product),remote: true %>
    </div>
</div>
